/* Issues */
#issue-search {
  width: 20vw;
  display: block;
}

#init-start-dt,
#init-end-dt,
#to {
  display: inline;
}

.icon-folder-open-alt {
  text-decoration: none;
}

.folder {
  margin: auto;
  position: relative;
  left: 30px;
}

.icon-folder-open-alt:hover {
  text-decoration: none;
}

#submit-issue-link:hover {
  text-decoration: none;
}

#add-user-link:hover {
  text-decoration: none;
}

#assigned-to-search,
#init-end-dt,
#init-start-dt,
#initiated-by-search {
  display: inline;
  padding: 15px;
}
#assigned-to-search,
#init-end-dt,
#init-start-dt,
#initiated-by-search {
  width: 25vw;
}

#issue-title,
#project-title {
  width: 20vw;
  display: block;
}

#username {
  width: 20vw;
  display: block;
  padding: 15px;
}

#assign-to {
  width: 20vw;
  display: block;
}
#status-input {
  width: 20vw;
  display: block;
}

.form-control.description-input {
  resize: none;
  height: 180px;
}

#change-username {
  width: 20vw;
  display: block;
  padding: 15px;
}

#add-user-input,
#search {
  width: 20vw;
  display: block;
  padding: 15px;
}

.closed-issues-container {
  margin-top: 75px;
}

.log-btn {
  background: none !important;
  border: none;
  padding: 5 !important;
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  cursor: pointer;
}

footer {
  font-size: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
}

#title {
  width: 20rem;
}

#see-more-link,
#advanced-search-link {
  text-decoration: none;
}

#log-description {
  width: 47rem;
}

#issues-message {
  font-size: 1.5rem;
}

.pagination-btns {
  display: flex;
}

.pagination-btns button {
  margin: 0.5rem 0.5rem;
}

/* Spinner */

.spinner {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #16d47b;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: 0.8s infinite linear spin;
  margin: 20px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* home */
.form-container {
  max-width: 500px;
  margin: 2rem auto;
  overflow: hidden;
  padding: 0 2rem;
}

.form-container h1,
h2,
h3 {
  text-align: center;
}

.btn-block {
  display: block;
  width: 100%;
}

/* Forms */

input[type='text'],
input[type='email'],
input[type='password'],
input[type='date'],
select,
option,
textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

input[type='submit'],
button {
  font: inherit;
}
