body {
  font-family: 'Roboto', sans-serif;
}

/* Utility */

.light-bg {
  background: #f5f5f5;
}

.lg-heading {
  font-size: 1.75rem;
}

.md-heading {
  font-size: 1.25rem;
}

.bold-text {
  font-weight: bolder;
}

.form-input {
  width: 300px;
  display: block;
}

.form-control.description-input {
  resize: none;
  height: 180px;
}

.link {
  text-decoration: none;
  display: inline-block;
}

.link:hover {
  text-decoration: none;
}

/* View Issue - IssueLog */

.IssueLog .log-description {
  width: 70%;
}

/* Issue */
.Issue .folder {
  margin: auto;
  position: relative;
  left: 30px;
}

.Issue-title {
  width: 320px;
}

.Issue-project {
  width: 250px;
}

/* Pagination */

.page-item {
  margin: 0px 3px;
}

#pagination-nav {
  display: flex;
  justify-content: center;
}

/* Error */
.error,
.error pre {
  color: red;
  font-size: 18px;
}

/* Spinner */

.spinner {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #16d47b;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: 0.8s infinite linear spin;
  margin: 20px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
